.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display-block {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}
